/* 切換深色模式 */
        
.main-header.dark {
    background-color: #767171;
    transition: .4s;
}

.main-footer.dark {
    background-color: #767171;
    transition: .4s;
}

.main-header .logo.dark {
    color: #f2e8e8;
    transition: .4s;
}

textarea.dark {
    background-color: black;
    color: white;
    transition: .4s;
}

.main-header .main-nav .button.dark {
    background-color: black;
    border: 2.5px solid white;
    color: white;
    transition: .4s;
}

.main-header .main-nav .button.dark:hover {
    background-color: #767171;
}

.menu.dark {
    background-color: #767171;
    transition: .4s;
}

.menu.dark a {
    color: white;
    transition: .4s;
}

.copyright_text.dark ,
.copyright_text a.dark{
    color: white;
    transition: .4s;
}

.UserName.dark {
    color: #fff;
}