/* 輸入框 */

.translate-form {
    height: 70%;
}

.translate-form .container {
    display: flex;
    width: auto;
    /* height: 403px; */
    height: 100%;
}

.translate-form .container textarea{
    width: 50%;
    height: 100%;
    /* 禁止調整大小 */
    resize: none;
    font-size: 30px;
}

.translate-form textarea::placeholder{
    font-size: 30px;
    padding: 15px 15px;
}


/* 版權宣告 */
.main-footer{
    background-color: #ccc;
    width: auto;
    height: 10%;
    bottom: 0;
    text-align: right;
}

.main-footer .container {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-footer .container .copyright_text{
    position: relative;
    top: 1.4em;
    right: 2em;
    font-size: 16px;
}

footer .copyright_text a {
    color: black;
    text-decoration: none;
}

footer .copyright_text a:hover{
    opacity: 1;
    text-decoration: underline;
}




