/* 驗證訊息 */
.form-message {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  background-color: rgb(76, 68, 182);
  color: rgb(255, 48, 48);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

/* 編輯個人資料 */

#personal-screen {
  display: none;
}

#personal-screen.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

#personal-screen .update-profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  max-height: 80%; /* 可調 */
  background: #fff;
  padding: 25px;
  border-radius: 20px;
}

#personal-screen .update-profile .form_close {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #0b0217;
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
}

/* 大標題 */
#personal-screen .update-profile h3 {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #b6b6b6d4;
  /* margin-bottom: 10px; */
}

.star {
  color: rgba(234, 71, 91);
}

/* 小標題 */
#personal-screen .title {
  margin-left: 15px;
  width: 92px;
}

/* 資料欄位 */
#personal-screen .update-profile .display-box .info .data {
  margin-left: 10px;
}

/* 顯示資料區域 */
#personal-screen .update-profile .display-box {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b6b6b6d4;
}

#personal-screen .update-profile .display-box div {
  display: inline-block;
}

#personal-screen .update-profile .display-box .info {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 550;
}

/* 編輯icon */
#personal-screen .display-box .edit-btn {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  color: #707070;
  right: 0;
  cursor: pointer;
  font-weight: 550;
  font-size: 15px;
  user-select: none;
}

#personal-screen .display-box .edit-btn:hover {
  color: #ff984a;
}

#personal-screen .display-box .edit-btn i {
  margin: 0;
}

/* 修改資料區域 */
#personal-screen .update-profile .update-box {
  background: #f1eded;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* 讓 .update-box 元素佔滿父元素的高度 */
  border-bottom: 1px solid #b6b6b6d4;
  display: none;
}

#personal-screen .update-profile .update-box div {
  display: inline-block;
}

#personal-screen .update-profile .update-block {
  width: 100%;
  font-size: 18px;
  font-weight: 550;
  margin-top: 10px;
}

#personal-screen .update-box .update-block input {
  height: 30px;
  width: 60%;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #aaaaaa;
  padding-left: 3px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

#personal-screen .update-box .update-block input:focus {
  outline: 0;
  border-color: #ff984a;
}

#personal-screen .update-box .update-block input:focus::placeholder {
  color: #ff984a;
}

#personal-screen .update-box .update-block input:focus {
  caret-color: #ff984a;
}

#personal-screen .update-box .update-block.success input {
  border-color: #09c372;
}

#personal-screen .update-box .update-block.error input {
  border-color: #ff3860;
}

/* 顯示錯誤訊息 */
#personal-screen .update-box .update-block .error {
  margin-left: 25%;
  color: #ff3860;
  font-size: 12px;
  height: 13px;
}

/* 修改的按鈕區域 */
#personal-screen .update-profile .update-box .btn-block {
  display: flex;
  justify-content: space-between;
  width: 55%;
  text-align: center; /* 文字置中 */
  margin: 10px 0 15px 0;
}

/* button共同樣式 */
.btn-block button {
  width: 50%;
  width: 110px;
  height: 35px;
  background: none;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
}

/* close的樣式 */
.btn-block .close-btn {
  color: rgb(255, 145, 0);
  border: 1.5px solid #ff984a;
}

.btn-block .close-btn:hover {
  color: #ff9100;
  border-color: #ff9100;
  box-shadow: 0 0 4px 0 #ff9100;
}

/* 禁用store */
#personal-screen .update-box .btn-block .store:disabled {
  background-color: rgb(169, 169, 169);
  color: #fff;
  border: none;
  cursor: no-drop;
}

/* 開啟store */
#personal-screen .update-box .btn-block .store:enabled {
  background-color: rgb(255, 145, 0);
  color: #fff;
  border: none;
  cursor: pointer;
}

#personal-screen .update-box .btn-block .store:enabled:hover {
  background-color: rgb(255, 120, 0);
}

/* 變更相片 */
#image-screen {
  display: none;
}

#image-screen.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

#image-screen .update-profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  max-height: 80%; /* 可調 */
  background: #fff;
  padding: 25px;
  border-radius: 20px;
}

#image-screen .update-profile .form_close {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #0b0217;
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
}

#image-screen .update-profile h3 {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6d4;
  margin-bottom: 15px;
}

#image-screen .direction {
  margin-bottom: 15px;
}

.show-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.show-img img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 30px;
  text-align: center; /* 文字置中 */
  /* margin-bottom: 15px; */
}

#image-screen .btn-block button {
  align-items: center;
  padding-right: 10px;
  font-size: 16px;
}

#image-screen .btn-block i {
  font-size: 18px;
}

#image-screen .btn-block 
#change_image:hover ,#remove_yes:hover{
  background-color: rgb(255, 120, 0);
  color: #fff;
  border: none;
}

/* 刪除照片 */

#remove-image {
  display: none;
}

#remove-image .direction {
  text-align: center;
  margin-bottom: 15px;
}

#remove-image .update-profile h3 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
}



#remove-image.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

#remove-image .update-profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  max-height: 80%; /* 可調 */
  background: #fff;
  padding: 25px;
  border-radius: 20px;
}

#remove-image .update-profile .turn_left {
  position: absolute;
  top: 15px;
  left: 15px;
  /* color: #0b0217; */
  /* font-size: 30px; */
  opacity: 0.7;
  cursor: pointer;
  width: 30px;
  height: 30px;
}



/* 上傳照片 */
#upload-image {
  display: none;
}


#upload-image .update-profile h3 {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6d4;
  margin-bottom: 15px;
}

#upload-image.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

#upload-image .update-profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  max-height: 80%; /* 可調 */
  background: #fff;
  padding: 25px;
  border-radius: 20px;
}

#upload-image .update-profile .form_close {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #0b0217;
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
}

.drag-area {
  width: 100%;
  height: 240px;
  border: 2px dashed #ff9100;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 15px 0;
}

.drag-area.active {
  border: 2px solid #ff9100;
}

.drag-area .icon {
  font-size: 100px;
  color: black;
}

.drag-area i {
  font-size: 70px;
}

.drag-area header {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.drag-area span {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 10px 0 15px 0;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#upload-image .update-profile .btn {
  height: 40px;
  width: 100%;
  background: rgba(255, 120, 0, 0.808);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0 10px;
  opacity: 0.82;
}

.btn:hover {
  opacity: 0.82;
}
